@import url(./reset.css);

:root {
  --main-blue: #2091f9;
  --dark-blue: #252b42;
  --text: rgba(37, 43, 66, 1);
  --second-text: rgba(55, 71, 84, 1);
}

img {
  width: 100%;
}

html {
  font-family: "Hanken Grotesk";
}
body {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.title {
  font-size: 2.6rem;
  color: var(--text);
  line-height: 115%;
  font-weight: 300;
  text-align: center;
  padding: 10px 0;
}

.subtitle {
  font-size: 1.4rem;
  color: var(--second-text);
  line-height: 143%;
  text-align: center;
}

.blue-button {
  background-color: var(--main-blue);
  padding: 1rem 3.75rem;
  border-radius: 36px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.blue-button:hover {
  background-color: var(--dark-blue);
}

.flex-image {
  flex: 1 0 50%;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px;
}

header {
  background-image: url(../assets/images/header-background.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  color: #ffff;
  height: 100vh;
  height: 100svh;
}

header .wrapper {
  height: 80%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigation li {
  font-size: 1rem;
  padding-right: 20px;
}

.media-links i {
  font-size: 2rem;
  padding-left: 24px;
}

header .main {
  max-width: 770px;
  text-align: center;
  flex: 1 1 100%;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.header-title {
  font-weight: 600;
  font-size: 4.625rem;
  line-height: 113%;
}

.header-text {
  font-size: 1.8rem;
  line-height: 142%;
  margin-top: -50px;
}

header .blue-button {
  font-weight: 300;
}

/*------------------------------*/

.features .subtitle {
  max-width: 550px;
  margin: 0 auto 4rem auto;
}

.features-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.features-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.features-card {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 250px;
}

.card-icon {
  width: 46px;
  height: 46px;
}

.card-title {
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--text);
  line-height: 140%;
}

.card-text {
  font-size: 1.2rem;
  color: var(--second-text);
  line-height: 139%;
}

/*-------------------------------*/

.fastest,
.lightning {
  display: flex;
  gap: 30px;
  padding-top: 80px;
}
.fastest-left {
  max-width: 550px;
}
.fastest .title {
  text-align: left;
}
.fastest .subtitle {
  text-align: left;
  padding-bottom: 40px;
}

/*-------------------------------*/

.suppertitle {
  color: var(--text);
  font-weight: 700;
  font-size: 1.25rem;
}
.lightning .title {
  text-align: left;
}
.form-caption {
  padding-top: 20px;
}
.form-caption .text {
  font-size: 1.075rem;
  color: var(--second-text);
}
.lightning .blue-button {
  font-weight: 300;
  padding: 1rem 2.75rem;
}

.lightning form {
  padding: 28px 0;
  display: flex;
  gap: 10px;
}

.lightning form input {
  border-radius: 40px;
  padding: 16px;
  background-color: #f4f4f4;
  border: none;
  outline: none;
  font-size: 1.1rem;
  color: var(--second-text);
}

/*--------------------------------*/

.partners {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
}
.partners .subtitle {
  padding-bottom: 40px;
  max-width: 550px;
  margin: 0 auto;
}
.grid-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.item {
  border: rgb(168, 168, 168) 1px solid;
  padding: 30px;
  display: flex;
  align-items: center;
}

.partners .blue-button{
  margin: 50px 0;
}

/*--------------------------------*/

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
  .wrapper {
    padding: 35px;
  }
  .features-cards,
  .fastest,
  .lightning,
  .lightning form {
    flex-direction: column;
  }
  .fastest {
    align-items: center;
  }
  .features-cards,
  .lightning-left {
    order: 1;
  }
  .fastest-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fastest .title {
    text-align: center;
  }
  .fastest .subtitle {
    text-align: center;
  }
  .grid-items {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    align-items: center;
  }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    padding: 0px;
  }
  .item div {
    border: rgb(168, 168, 168) 1px solid;
    padding: 30px;
    min-width: 230px;
  }
  .hide {
    display: none;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 11px;
  }
  .wrapper {
    padding: 20px;
  }
  .header-title {
    font-weight: 300;
  }
}
